* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4f4;
    background: rgb(41, 38, 38);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

#cam-view {
    width: 100vw;
    height: 300px;
    background-color: rgb(23, 23, 23);
}

#forward {grid-area: forward;}
#backward {grid-area: backward;}
#left {grid-area: left;}
#right {grid-area: right;}

.arrow {
    fill: rgb(148, 148, 148);;
}

.move-button {
    padding: 1.6rem;
    margin: 0.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: rgb(29, 29, 29);
}

#motion {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-areas: 
        ". forward ."
        "left . right"
        ". backward .";
}

#speed {
    margin-top: 2rem;
    margin-left: 2rem;
}
